---
---

/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: $fontDefault;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
}

body.open {
  overflow: hidden;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $colorGrayBackground;
  overflow: hidden;
  z-index: 1;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main,
.app-bar.open ~ .guides-section main {
  -webkit-transform: translate(250px, 0);
          transform: translate(250px, 0);
}

.app-bar .logo {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  display: initial;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar .logo img {
  height: 36px;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}

.app-bar button {
  width: 60px;
  height: 60px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  height: 24px;
  width: 24px;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base,
p,
ul,
ol {
  font-size: $fontBase;
}

.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: $colorGrayBackground;
  color: #fefefe;
  -webkit-transform: translate(-250px, 0);
          transform: translate(-250px, 0);
  overflow-y: auto;
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.app-bar,
.navdrawer-container.opened,
main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer-container h4 {
  background-color: white;
  color: #3367D6;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: $colorText;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 60px 16px;
  min-height: 100%;
}

.quote__content::before {
  color: #e0e0e0;
  top: 150px;
  left: -180px;
  font-size: 340px;
}

.main-footer {
  background: $colorGrayBackground;
  background: -moz-linear-gradient(top,$colorGrayBackground 0,#fff 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,$colorGrayBackground),color-stop(100%,#fff));
  padding: 26px 0 52px;
}

.main-footer, .main-footer a {
  color: $colorGrayDark;
}

.main-footer a {
  text-decoration: none;
}

.main-footer a:hover {
  text-decoration: underline;
}

.main-footer__list-group {
  position: relative;
  overflow: hidden;
}

.main-footer__list {
  list-style: none;
  margin: 0;
  padding-left: 32px;
  padding: 26px 0 0;
}

.main-footer__list li:before {
  display: none;
}

.main-footer__list li {
  margin-bottom: 13px;
  padding-left: 0;
  padding: 17px 20px;
}

.main-footer__list--primary {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 13px;
  margin-bottom: 26px;
}

.main-footer__list--secondary {
  font-size: 13px;
  line-height: 26px;
  padding-top: 13px;
}

.main-footer__klee-section {
  padding-left: 17px;
}

.main-footer__klee-section p {
  font-size: 13px;
}

.main-footer__title {
  color: $colorGrayDark;
  font-size: 26px;
  line-height: 1em;
  padding-top: 1em;
  padding-bottom: 0;
  letter-spacing: -.3px;
  font-weight: 400;
}

.main-footer__klee-section a {
  color: $colorGrayDark;
}

img.wide {
  width: 100%;
}

@media all and (max-width: 619px) {
  .main-footer__list--primary {
    border-bottom: 1px solid $colorGrayLight;
    padding-bottom: 53px;
    margin-bottom: 26px;
  }
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 992px) {
  .app-bar {
    position: relative;
  }

  .app-bar.open,
  .app-bar.open ~ main {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }

  .app-bar-container {
    display: block;
    height: 130px;
    max-width: $wideContainer;
    padding: 0 16px;
    box-sizing: border-box;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 112px;
    font-size: 46px;
  }

  .app-bar .logo img {
    height: 54px;
  }

  .app-bar-actions {
    float: right;
    line-height: 130px;
    font-size: 36px;
    color: #fefefe;
  }

  .app-bar-actions a {
    margin: 0 5px;
    color: #fefefe;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  .navdrawer-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
            transition: none;
    overflow-y: auto;
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: $wideContainer;
    margin: 0 auto;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
  }

  main {
    max-width: $wideContainer;
    padding-top: 0;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }

  .main-footer__list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

/* Corner ribbons */
.cr {
  width: 200px;
  padding: 16px;
  position: absolute;
  text-align: center;
  color: #f0f0f0;
  z-index: 10;
  font-weight: bold;
}

.cr-sticky {
  position: fixed;
}

/* Positions */

.cr-top    { top: 20px; }
.cr-bottom { bottom: 25px; }
.cr-left   { left: -50px; }
.cr-right  { right: -50px; }

/* Rotations */

.cr-top.cr-left,
.cr-bottom.cr-right {
  transform: rotate(-45deg);
}

.cr-top.cr-right,
.cr-bottom.cr-left {
  transform: rotate(45deg);
}

#version_ribbon {
  background-color: #297ea9;
  // Hide the ribbon on small screens as it
  // breaks the navigation otherwise.
  @include small-only {
    visibility: hidden;
  }
}
