<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
  <body>
    <!-- master nav -->
    {% include nav/main.html %}
    {% include version_ribbon.html %}

    <!-- page layout -->
    <main>
      <div class="editorial-header">
        <h1 class="tag editorial-header__title">{{ page.title }}</h1>
        <h2 class="editorial-header__subtitle">{{ page.subtitle }}</h2>
        <p class="editorial-header__excerpt">{{ page.lead }}</p>
      </div>

      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
